extends base.pug

block append vars
  - var stylesheet='/index.css'

block main
  .container
    each post in posts
      article.box
        img(src=post.post_image_key)
        p= post.post_description
        strong= post.account_name
        | &nbsp
        small= post.post_created_at

    //- h1.title post table
    //- ul

