extends base.pug
block main
  .container
    h1.title Post a new message
    form(action="post" method="POST")
      .field
        .control 
          textarea.textarea(type='text' id="description" name="description" placeholder='Text input')
      .field
        .control
          button.button(type="submit") Make post